body{
    background-color: #393939;
    background-image: url('/image/gradient-background-bottom.png'),url('/image/gradient-background-top.png');
    background-position: center bottom, center top;
    background-repeat: no-repeat, no-repeat;
    background-size: 75rem;
}
.container{
    height: auto;
}
.logo{
    height: 3rem;
}
.menu {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: #39393986;
    padding: 5px;
    padding-right: 10px;
    width: 45%;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #5c5b5b86;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    margin-left: 25px;
}
.menu ul li a {
    color: white;
    text-decoration: none;
}
/*up*/
.up{
    background-color: rgb(88, 87, 87);
    border-radius: 50%;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 20px;
}
.up:hover{
    background-color: rgb(110, 110, 110);
}
/*hairline*/
.menu-top{
    border-bottom-style: solid;
    border-width: 1.5px;
    border-color: gray;
}
.menu-top h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size: 2.5rem;
}
.menu-top p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
}
.menu-box{
    display: flex;
    justify-content: center;
}
/*center position*/

.center{
    width: 45%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
/*pinned */
.pin{

}
.pin-box{
    margin-left: auto;
    margin-right: auto;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 10rem;
    width: 60%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
.pin-box span{
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder
}
.pin-box img{
    height: 20px;
    width: 25px;
}
.pin-box p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600
}
/*comment input*/
.comment-input{

}
.input-box{
    margin-left: auto;
    margin-right: auto;
    background-color: #49494960;
    height: 5rem;
    width: 60%;
    border-radius: 10px;
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(82, 81, 81);
    padding: 10px;
}
.click{
    width: 100%;
    height: 3rem;
    background-color: #393939;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
}
.click:hover{
    background-color:   #504f4f;
    cursor: pointer;
}
.click:active .input-box{
    height: 20rem;
}
.above{
    display: none;
}
.guest{
    width: 100%;
    height: 10rem;
    padding: 5px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.log{
    width: 50%;
    height: 10rem;
}
.name{
    width: 96%;
    height: 2rem;
    border-radius: 7px;
    border: none;
    background-color: #393939;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(94, 93, 93);
    margin-top: 5px;
    margin-bottom: 5px;
    color: whitesmoke;
    padding-left: 10px;
}

.word{
    width: 95.5%;
    height: 2rem;
    border-radius: 7px;
    border: none;
    background-color: #393939;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(94, 93, 93);
    padding: 10px;
    color: whitesmoke;
}
.post{
    display: none;
}
.mit{
    width: 10%;
    height: 3.4rem;
    float: right;
    transform:translateY(-54px);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #4158D0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.mit:hover{
    cursor: pointer;
    font-size: 15px;
}
.post img{
    height: 50px;
    border-radius: 50%;
}
.post div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(219, 218, 218);
}

/*comment*/
.comment{

}
.comment .box{
    margin-left: auto;
    margin-right: auto;
    background-color: #49494960;
    height: auto;
    width: 60%;
    border-radius: 10px;
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(82, 81, 81);
    padding: 10px;
}
.box div{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(219, 218, 218);
    font-size: 14px;
}
.box p{
    color: rgb(219, 218, 218);
}
.box div img{
    height: 50px;
    border-radius: 50%;
}
.box div span{
    margin-left: 40%;
    transition: transform 0.3s ease;
}
.box div span:hover{
    transform: translateY(-5px); 
    background-color: whitesmoke;
    border-radius: 50%;
    cursor: pointer;
}
/*Footer #39393981*/
.main-foot{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.foot{
    width: 100%;
    height: 10rem;
    background-color: #3939399a;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}
.foot div{
    height: 8rem;
    width: 20rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.foot div a{
    text-decoration: none;
    color: whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.foot div a:hover{
    color: rgb(179, 179, 179);
}
.fot{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.507);
    color: whitesmoke; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
}
@keyframes appear{
    from{
        opacity: 0;
        transform: translateX(-75px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.menu-box div{
    animation: appear 0.3s linear;
}
@media (max-width: 852px){
    .center{
        width: 100%;
    }
    .main-foot{
        overflow-y: hidden;
    }
    .fot{
        font-size: 13px;
    }
    .word{
        width: 90%;
        font-size: 10px;
    }
    .mit{
        font-size: 10px;
    }
}
@media (max-width: 1621px){
    .word{
        width: 90%;
    }
    .mit{
        font-size: 10px;
    }
    .box div span{
        float: right;
    }
}
@media (max-width: 1101px){
    .ar{
        margin-left: 40%;
        font-size: 12px;
    }
}

@media (max-width: 891px){
    .ar{
        margin-left: 100%;
    }
    .box div {
        font-size: 12px;
    }
}
@media (max-width: 681px){
    .menu{
        width: 90%;
    }
}
